$blue-600: #2563eb;
$gray-600: #475569;
$blue-gray-100: #f1f5f9;
$blue-gray-200: #e2e8f0;
$blue-gray-300: #cbd5e1;
$blue-gray-400: #94a3b8;
$blue-gray-600: #475569;
$blue-gray-900: #0f172a;
$linear-gradient-1: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%);
$linear-gradient-2: linear-gradient(99deg, #312e81 0%, #1e40af 0.01%, #1e3a8a 46%, #701a75 96.97%);
