@use "./breakpoint" as *;

$colors: (
  blue-600: #2563eb,
  gray-100: #eef2f5,
  gray-400: #4f4f4f,
  gray-600: #475569,
  blue-gray-100: #f1f5f9,
  blue-gray-200: #e2e8f0,
  blue-gray-300: #cbd5e1,
  blue-gray-400: #94a3b8,
  blue-gray-600: #475569,
  blue-gray-900: #0f172a,
  "red": #ff0000,
  "white": #fff,
  "transparent": transparent,
  "black": black
);

@each $key, $color in $colors {
  .text-#{$key} {
    color: $color;
  }
  .bg-#{$key} {
    background: $color;
  }
  .border-#{$key} {
    border-color: $color;
  }
  @each $breakpoint, $value in $breakpoints {
    @media (min-width: #{$value}) {
      .#{$breakpoint}\:text-#{$key} {
        color: $color;
      }
      .#{$breakpoint}\:bg-#{$key} {
        background: $color;
      }
      .#{$breakpoint}\:border-#{$key} {
        border-color: $color;
      }
    }
  }
}

.linear-gradient-1 {
  background: linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%);
}

.linear-gradient-2 {
  background: linear-gradient(99deg, #312e81 0%, #1e40af 0.01%, #1e3a8a 46%, #701a75 96.97%);
}
