.cta {
  background-image: url(../../assets/images/cta_image.jpg),
    linear-gradient(0deg, rgba(88, 28, 135, 0.75) 0%, rgba(88, 28, 135, 0.75) 100%);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
