@use "./sass" as *;

.icon-social:hover {
  opacity: 0.5;
}

.icon-social {
  transition: all 0.3s;
}

.animate-spin {
  animation: spin 1s linear infinite;
  fill: blue;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.max-w-screen-md {
  max-width: 768px;
}

nav {
  transition: all 0.3s;
}
nav:hover {
  background: lightblue;
}
